/*reset*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
}
body {
    font-family: Arial, "STHeiti", Helvetica, sans-serif;
    background: #fff;
    font-size: 14px;
    height: 100%;
    max-width: 750px;
    min-width: 20pc;
    line-height: 1.5;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset,
img {
    border: 0;
}
legend {
    display: none;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}
ol,
ul {
    list-style: none;
}
caption,
th {
    text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}
q:before,
q:after {
    content: '';
}
abbr,
acronym {
    border: 0;
}
html {
    -webkit-text-size-adjust: none;
    width: 100%;
    height: 100%;
}
/*????iphone??safari????????????*/
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="search"] {
    -webkit-appearance: none;
    border-radius: 0;
}
/*???iphone????????input??????*/
html,
body {
    position: relative;
}
/********* ˙∆¡********/
@media screen and (orientation: portrait) {
    #page-box {
        width: 100%;
        height: 100%;
    }
    .page01 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        z-index: 1000;
    }
    .img-load-now {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .loading {
        width: 1.73333333rem;
        height: 2.4rem;
        background-image: url(../img/Œﬁ±ÍÃ‚-5.gif);
        background-size: 1.73333333rem 2.4rem;
        animation: birdloadingla 1s ease  infinite;
        -webkit-animation: birdloadingla 1s ease  infinite;
    }
    .mask {
        text-align: center;
        margin-top: 0.4rem;
    }
    #portrait {
        width: 100%;
        height: 100%;
        margin: auto;
        text-align: center;
    }
    .bg {
        width: 100%;
        height: 100%;
    }
    .three-min {
        width: 9.26666667rem;
        height: 7.94666667rem;
        position: absolute;
        top: 3.28rem;
        left: 0.29333333rem;
    }
    .phone {
        width: 0.93333333rem;
        height: 1.10666667rem;
        position: absolute;
        top: 11.56rem;
        left: 4.65333333rem;
    }
    .phone2 {
        width: 0.42666667rem;
        height: 0.85333333rem;
        position: absolute;
        top: 11.8rem;
        left: 4.69333333rem;
        animation: phone 3s linear infinite;
    }
    #landscape {
        display: none;
    }
    h3 {
        font-family: 'Œ¢»Ì—≈∫⁄';
        font-size: 0.32rem;
        color: #ffffff;
        position: absolute;
        top: 12.89333333rem;
        left: 4.33333333rem;
    }
    @-webkit-keyframes phone {
        0% {
            -webkit-transform: rotateZ(0deg);
            -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
        }
        25% {
            -webkit-transform: rotateZ(90deg);
            -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
        }
        50% {
            -webkit-transform: rotateZ(0deg);
            -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
        }
        75% {
            -webkit-transform: rotateZ(90deg);
            -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
        }
        100% {
            -webkit-transform: rotateZ(0deg);
            -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
        }
    }
    @keyframes phone {
        0% {
            -webkit-transform: rotateZ(0deg);
            -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
        }
        25% {
            -webkit-transform: rotateZ(90deg);
            -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
        }
        50% {
            -webkit-transform: rotateZ(0deg);
            -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
        }
        75% {
            -webkit-transform: rotateZ(90deg);
            -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
        }
        100% {
            -webkit-transform: rotateZ(0deg);
            -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
        }
    }
}
/*********∫·∆¡********/
@media screen and (orientation: landscape) {
    #portrait {
        display: none;
        overflow: hidden;
    }
    #landscape {
        display: block;
        position: relative;
    }
    .ending {
        width: 100%;
        height: 100%;
    }
    .ending-pic1 {
        width: 5.11244378rem;
        height: 4.84257871rem;
        position: absolute;
        top: 0 ;
        left: 0 ;
    }
    .ending-pic2 {
        width: 4.22038981rem;
        height: 0.98950525rem;
        position: absolute;
        top: 0.44977511rem;
        left: 5.56221889rem;
    }
    .ending-pic3 {
        width: 4.29535232rem;
        height: 1.57421289rem;
        position: absolute;
        top: 1.64917541rem;
        left: 5.26986507rem;
    }
    .sign-up {
        width: 4.12293853rem;
        height: 0.47976012rem;
        line-height: 0.47976012rem;
        background: #2b69b6;
        -webkit-transform: skew(-10deg);
        transform: skew(-10deg);
        text-align: center;
        vertical-align: middle;
        position: absolute;
        top: 3.89055472rem;
        left: 5.10494753rem;
    }
    .sign-up span {
        font-family: '∫⁄ÃÂ';
        font-size: 0.19490255rem;
        color: #FFFFFF;
    }
    .btn-music {
        width: 0.39730135rem;
        height: 0.4047976rem;
        position: absolute;
        top: 0.20989505rem;
        left: 9.34782609rem;
    }
    .open-music {
        animation: music-btn 3s linear infinite;
        -webkit-animation: music-btn 3s linear infinite;
    }
    .music {
        width: 100%;
        height: 100%;
    }
    @-webkit-keyframes music-btn {
        form {
            -webkit-transform: rotateZ(0deg);
        }
        to {
            -webkit-transform: rotateZ(360deg);
        }
    }
    @keyframes music-btn {
        form {
            -webkit-transform: rotateZ(0deg);
        }
        to {
            -webkit-transform: rotateZ(360deg);
        }
    }
    ul {
        list-style: none;
    }
    input,
    select {
        border: 0;
        outline: none;
    }
    #userInfo {
        display: none;
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 0.47226387rem;
        position: absolute;
        left: 0;
        top: 0;
    }
    .userInfo-box {
        display: none;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        background: #fff;
        padding: 0.4047976rem 0.64467766rem;
        position: relative;
    }
    .userInfo-box .userInfo-title {
        width: 0.86956522rem;
        color: #061C57;
        font-size: 0.20989505rem;
        padding-bottom: 0.07496252rem;
        margin-bottom: 0.07496252rem;
        border: 1px solid transparent;
        border-bottom: 1px solid #A0A0A0;
    }
    .userInfo-box .userInfo-tip {
        font-size: 0.13493253rem;
        margin-bottom: 0.22488756rem;
    }
    .userInfo-box .input-form {
        box-sizing: border-box;
        width: 50%;
    }
    .userInfo-box .input-form li.red {
        border: 1px solid #f00;
    }
    .userInfo-box .input-form li {
        border: 1px solid #464646;
        border-radius: 3px;
        width: 100%;
        height: 0.35982009rem;
        margin-bottom: 0.22488756rem;
        font-size: 0.16491754rem;
        position: relative;
    }
    .userInfo-box .input-form li span {
        color: #fff;
        position: absolute;
        left: 0;
        top: 0;
        width: 0.91454273rem;
        height: 0.35982009rem;
        line-height: 0.35982009rem;
        text-align: center;
        background: #5A87C3;
        border-radius: 3px 0 0 3px;
    }
    .userInfo-box .input-form li input {
        padding-left: 0.97451274rem;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
    }
    .userInfo-box .input-form li select {
        float: right;
        -webkit-padding-left: 0.97451274rem;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 2.35382309rem;
        height: 100%;
        background: transparent;
    }
    .userInfo-box .input-form-left {
        float: left;
        padding-right: 0.64467766rem;
    }
    .userInfo-box .input-form-right {
        float: right;
    }
    .userInfo-box .input-form-right li select {
        float: right;
        -webkit-padding-left: 0.97451274rem;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        width: 2.99850075rem;
        height: 100%;
    }
    .userInfo-box #btn-userInfo {
        float: right;
        color: #fff;
        font-size: 0.19490255rem;
        text-align: center;
        width: 50%;
        margin-top: 0.24737631rem;
        height: 0.44977511rem;
        line-height: 0.44977511rem;
        background: #3569B4;
        -webkit-clip-path: polygon(2% 0%, 100% 0%, 98% 100%, 0% 100%);
        clip-path: polygon(2% 0%, 100% 0%, 98% 100%, 0% 100%);
        margin-bottom: 5px;
    }
    .userInfo-box a {
        font-size: 0.14992504rem;
        float: right;
        margin-right: 1%;
        color: #434343;
        text-decoration: underline;
    }
    .action-rules {
        display: none;
        padding: 0.28485757rem 0.37481259rem;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        background: #fff;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        overflow-scrolling: touch;
        position: relative;
    }
    .action-rules #close-rules {
        position: fixed;
        top: 0.51724138rem;
        right: 0.51724138rem;
    }
    .action-rules h1 {
        color: #061C57;
        font-size: 0.20989505rem;
        margin-bottom: 0.08995502rem;
    }
    .action-rules h2 {
        color: #2b69b6;
        text-decoration: underline;
        font-size: 0.17991004rem;
        margin: 0.08995502rem 0;
    }
    .action-rules h4 {
        font-size: 0.17991004rem;
    }
    .close {
        position: absolute;
        top: 3px;
        right: 3px;
        border-radius: 50%;
        color: #333;
        font-size: 0.26236882rem;
        width: 0.26236882rem;
        height: 0.26236882rem;
        text-align: center;
        line-height: 0.26236882rem;
        border: 1px solid #333;
    }
    .prize-result {
        display: none;
        box-sizing: border-box;
        width: 4.27286357rem;
        height: 2.54872564rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        background: #fff;
    }
    .prize-result .prize-result-info {
        box-sizing: border-box;
        position: absolute;
        width: 100%;
        padding: 0.48725637rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
    }
    .prize-result .prize-result-info h1 {
        font-size: 0.26986507rem;
        text-align: center;
    }
    .prize-result .prize-result-info h1 i {
        display: inline-block;
        border-bottom: 1px solid #B28850;
        padding-bottom: 0.1874063rem;
        margin-bottom: 0.1874063rem;
    }
    .prize-result .prize-result-info p {
        font-size: 0.20989505rem;
        text-align: center;
    }
    .prize-result .prize-result-info .get {
        color: #890606;
    }
    .prize-result .prize-result-info .notGet {
        color: #2B69B6;
    }
    #animation_container,
    #dom_overlay_container {
        width: 100%;
        height: 100%;
    }
    #animation_container {
        position: relative;
    }
}
