/*reset*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}
html,
body {
  position: relative;
  height: 100%;
  width: 100%;
}
/*********竖屏********/
@media screen and (orientation: portrait) {
  .box {
    width: 100%;
    height: 100%;
  }
  body {
    background: black;
  }
  #portrait {
    display: block;
    height: 100%;
    width: 100%;
    margin: auto;
    text-align: center;
  }
  #landscape {
    display: none;
  }
  h3 {
    font-family: '方正兰亭超细黑简体';
    font-size: 0.48rem;
    color: #6db7c4;
    margin-bottom: 60%;
    position: absolute;
    left: 3.44rem;
    top: 10.24rem;
  }
  .h3-2 {
    position: absolute;
    left: 3.44rem;
    left: 3.17333333rem;
    top: 11.06666667rem;
  }
  .one-phone {
    width: 1.89333333rem;
    height: 3.96rem;
    position: absolute;
    left: 5rem;
    top: 4.65333333rem;
  }
  .one-phone2 {
    width: 1.89333333rem;
    height: 3.96rem;
    position: absolute;
    left: 5rem;
    top: 4.65333333rem;
    animation: left 2s linear infinite;
    -webkit-animation: left 4s linear infinite;
  }
  @-webkit-keyframes left {
    0% {
      -webkit-transform: rotateZ(0deg);
      -webkit-transform-origin: left bottom;
      transform-origin: left bottom;
    }
    25% {
      -webkit-transform: rotateZ(-90deg);
      -webkit-transform-origin: left bottom;
      transform-origin: left bottom;
    }
    50% {
      -webkit-transform: rotateZ(0deg);
      -webkit-transform-origin: left bottom;
      transform-origin: left bottom;
    }
    75% {
      -webkit-transform: rotateZ(-90deg);
      -webkit-transform-origin: left bottom;
      transform-origin: left bottom;
    }
    100% {
      -webkit-transform: rotateZ(0deg);
      -webkit-transform-origin: left bottom;
      transform-origin: left bottom;
    }
  }
}
/*********横屏********/
@media screen and (orientation: landscape) {
  #portrait {
    display: none;
  }
  #landscape {
    display: block;
    position: relative;
  }
  body {
    background: black;
  }
  .btn-music {
    width: 0.39730135rem;
    height: 0.4047976rem;
    position: absolute;
    top: 0.29985007rem;
    left: 9.22038981rem;
  }
  .music {
    width: 100%;
    height: 100%;
  }
}
